.wrapper {
	position: absolute;
	width: calc(100% - 32px);
	background-color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sendBtn {
	width: 166px;
	padding: 16px 0;
	justify-content: center;
	align-items: center;
	border-radius: 200px;
	margin-top: 8px;
	background-color: #e44848;
	border: none;
	outline: none;

	margin: 0 auto;

	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.002em;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #d84343;
	}
}

@media screen and (min-width: 768px) {
	.wrapper {
		width: 360px;
		gap: 32px;
		padding-right: 32px;
		border-right: 2px solid #dadde1;
		border-radius: 0 20px 20px 0;
	}
}

@media screen and (min-width: 1440px) {
	.wrapper {
		position: static;
		flex-shrink: 0;
		margin-left: auto;
	}
}
