.label {
	color: #101828;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
	display: block;
	padding-bottom: 24px;
}

.typeList {
	padding-top: 24px;
	border-top: 1px solid #dadde1;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.typeItem {
	width: 88px;
	height: 96px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	border: 1px solid #dadde1;
	border-radius: 12px;
	transition: border 0.3s, background-color 0.3s;
}

.typeItem:has(.radioBtn:checked) {
	border-color: #e44848;
}

.radioBtn {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.typeIcon {
	width: 32px;
	height: 32px;
	fill: #101828;
}

.text {
	color: #101828;
	text-align: center;
	font-style: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.002em;

	&::first-letter {
		text-transform: uppercase;
	}
}

@media screen and (min-width: 768px) {
	.typeItem {
		width: 100px;
	}

	.text {
		font-size: 16px;
	}
}
