.wrapper {
	background-color: #f7f7f7;
}

.headerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 12px;
	max-width: 1920px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.headerContainer {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 24px 64px;
		background-color: #f7f7f7;
	}
}
